body{
  text-align: center;
  background-image:url('/img/aj.png');
  background-repeat:repeat;
  background-attachment: fixed;
  color: white;
  text-shadow:  1px 1px black;

}
#first-heading{
  font-size: 40px;
}
.box{
  background-color: rgba(0,0, 0, 0.5) ;
}
.head-img{
  border: 1px solid black;
}
h2{
  color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(22, 20, 20);
  -webkit-text-stroke-width: 0.3px;
}
div
{
  /* background-color: #FFCBCB; */
  padding:10px;
  width:80%;
  margin: auto auto;
   font-family: 'Roboto', sans-serif;
   font-size:21px;
 background-color: rgb(0, 116, 218);

}
h2
{
font-size: 35px;
  padding: 10px;
}
.para{
  text-align: left;
}

.end{
  padding:30px;
  font-size:20px;
   font-family: 'Roboto', sans-serif;
   font-weight: bolder;
}
.gallary {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr  ;
  /* background-color: #FFCBCB; */
  padding: 0;
  column-gap: 10px;
  row-gap: 10px;
}

.gallery__img {
    width: fit-content;
    height: fit-content;
object-fit: fill;
/* margin:0;
padding: 0; */
}
.t-img
{
  border-radius: 50%;
}
.end{
  word-spacing: 5px;
  font-style: italic;
  font-size: 26px;
}
